.header-body {
    width: 100vw;
    height: 70px;
    display: flex;
    justify-items: center;
    align-items: center;
    flex-direction: column;
    padding: 0 20px;
    background-color: white;
    color: black;
    margin-bottom: 20px;
    box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.2);
}

.header-form {
    width: 80%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

input {
    width: 250px;
    height: 40px;
    border: 1px solid #ccc;
    border-radius: 50px;
    padding-left: 20px;
}

.header-img {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    background-color: #C4C4C4;
    margin-right: 15px;
}

.header-form p {
    margin-top: 20px;
    position: relative;
}

.header-form p:hover {
    color: #337ab7;    ;
}

.options {
    background-color: #f8f9fa;
    border: 1px solid #dee2e6;
    border-radius: 0.25rem;
    position: absolute;
    left: 0;
    width: 200px;
    z-index: 1000;
}

.header-form .clickable-p {
    cursor: pointer;
    transition: background-color 0.3s ease;
    user-select: none;
    border-bottom: 1px solid #dee2e6;
    display: flex;
    align-items: center;
    padding: 10px 20px;
    margin-top: 0;
    margin-bottom: 0;
}

.header-form .clickable-p:active {
    background-color: #0e3e6e;
    color: white;
}

.header-form .clickable-p:hover {
    color: #384289; /* Thay đổi màu của thẻ <p> khi di chuột qua */
    background-color: #e7ecf0;
}