@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  background-color: var(--backgroundColor);
  /* transition: .3s ease; */
}

:root {
  --backgroundColor: #E7ECF0;
  --whiteColor: #FFFFFF;
  --textColor: #667580;
  --colorActive: #1DA1F2;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}