@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

:root {
  --whiteColor: #ffffff;
  --textColor: #667580;
  --colorActive: #1DA1F2;
  --backgroundColor: #F5F5F5
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}